{
  parserOptions: {
    ecmaVersion: 2017,
    sourceType: 'module'
  },
  env: {
    node: true,
    browser: true
  },
  globals: {
    analytics: true,
    PRODUCTION_ENV: true,
    Raven: true
  },
  extends: [
    "eslint:recommended",
    "plugin:react/recommended"
  ]
}
