@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
  /* Colors */
    /* Whites */

    --white: #ffffff;


    /* Blacks */

    --black: 0,0,0;
    --codGray: #191414;

    /* Greys */

    --athensGray: #f8f8f9;
    --blackHaze: #E6E7E7;
    --silverSand: #BEC3C8;
    --silverChalice: #ABABAB;

    /* Greens */

    --spotify: #1db954;
    --spotifyRGB: 27, 185, 84;
    --bottleGreen: #05210F;

    /* Reds */

    --cinnabar: #E55934;

  /* Spacings */

  --squareSize: 4px;
  --defaultLineHeight: calc(6 * var(--squareSize));

  --extraSmallPadding: calc(2 * var(--squareSize));
  --smallPadding: calc(3 * var(--squareSize));
  --defaultPadding: calc(6 * var(--squareSize));
  --bigPadding: calc(12 * var(--squareSize));

  --extraSmallMargin: calc(2 * var(--squareSize));
  --smallMargin: calc(3 * var(--squareSize));
  --defaultMargin: calc(6 * var(--squareSize));
  --bigMargin: calc(12 * var(--squareSize));
  --veryBigMargin: calc(36 * var(--squareSize));

  /* Fonts */

  --sansSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --serif: Georgia, Cambria, "Times New Roman", Times, serif;
  --defaultFontSize: 14px;
  --semiBold: 600;
  --scaleRatio: 1.125;
  --fontSizeS: calc( var(--defaultFontSize) / var(--scaleRatio) );
  --fontSizeL: calc( var(--defaultFontSize) * var(--scaleRatio) * var(--scaleRatio) * var(--scaleRatio) * var(--scaleRatio) );
  --fontSizeXL: calc( var(--defaultFontSize) * var(--scaleRatio) * var(--scaleRatio) * var(--scaleRatio) * var(--scaleRatio) * var(--scaleRatio) * var(--scaleRatio) );
  --heroParagraphFontSize: calc( var(--defaultFontSize) * var(--scaleRatio) * var(--scaleRatio)  * var(--scaleRatio) * var(--scaleRatio) * var(--scaleRatio) * var(--scaleRatio) );


  /* Radiuses */

  --defaultRadius: 4px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--sansSerif);
  color: var(--athensGray);
  background: url("~public/svg/abstract-background.svg") center 0 no-repeat, linear-gradient(var(--codGray), var(--bottleGreen));
  background-size: cover;
  line-height: var(--defaultLineHeight);
  font-size: var(--defaultFontSize);
}

a {
  color: var(--spotify);
}

.Root, .App {
  display: flex;
  height: 100%;
  overflow: hidden;
  text-align: center;
  flex-direction: column;
}

.App {
  padding-bottom: var(--bigMargin);
}

.Link:hover {
  text-decoration: none;
}

.Hero {
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.Hero-Logo {
  margin-bottom: var(--bigMargin);
  margin-top: var(--bigMargin);

  img {
    height: calc(var(--squareSize) * 24);
    vertical-align: top;
  }
}

.Hero-Title {
  font-size: var(--heroParagraphFontSize);
  font-family: 'Montserrat', sans-serif;
  width: calc( var(--squareSize) * 110);
  margin: 0 auto var(--defaultMargin);
  line-height: calc( var(--squareSize) * 11 );
}

.Hero-Subtitle {
  font-weight: 300;
  width: calc( var(--squareSize) * 110);
  margin: 0 auto var(--bigMargin);
  line-height: calc( var(--squareSize) * 8 );
}

.Button {
  display: inline-block;
  position: relative;
  padding: var(--extraSmallPadding) var(--bigPadding);
  font-size: var(--defaultFontSize);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  background: var(--spotify);
  line-height: var(--defaultLineHeight);
  color: var(--white);
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  user-select: none;
  outline: 0;
  transition: background-color .2s ease-out, box-shadow .05s ease-out, color .1s ease-out, transform .1s ease-out;
  appearance: none;
  font-family: var(--sansSerif);
  font-weight: var(--semiBold);
  letter-spacing: 1px;

  &:hover {
    background: #1AA64B;
    transform: translateY(-1px);
  }

  &.Button--disabled,
  &:disabled {
    transform: translateY(0);
    opacity: .2;
    cursor: default;
    &:hover {
      background: var(--spotify);
    }


  }

  & + .Button {
    margin-left: var(--defaultMargin);
  }
}

.Button--outline {
  background: none;
  border: 1px solid var(--spotify);

  &:disabled:focus {
    background: none;
  }
}

.Button--hidden {
  display: none;
}

.Button--block {
  display: block;
}

.BoxesContainer {
  width: calc(180 * var(--squareSize));
  margin: 0 auto;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  flex: 1;
}

.Box {
  background: rgba( var(--black), .8);
  width: calc(180 * var(--squareSize));
  padding: var(--defaultPadding);
  border-radius: 0;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  margin: 0 auto;

  &:last-child {
    border-radius: var(--defaultRadius);
  }

  &:empty {
    display: none;
  }
}

.Box-AddOn {
  align-items: center;
  display: flex;
}

.Box--hidden {
  opacity: 0;
}

.Box + .Box {
  margin-top: 1px;
  border-radius: 0 0 var(--defaultRadius);
}

.Box--connected {
  padding: var(--smallPadding) var(--defaultPadding);
}

.Box--disconnected + .Box--disconnected {
  display: none;
}

.Box--disconnected + .Box--ReleaseList {
  display: none;
}

.BoxesContainer {
  .Box:only-child {
    border-radius: var(--defaultRadius);
  }

  .Box:last-child {
    border-radius: 0 0 var(--defaultRadius) var(--defaultRadius);
  }
}

.Box-Title {
  font-size: var(--heroParagraphFontSize);
  font-family: 'Montserrat', sans-serif;
  line-height: calc( var(--squareSize) * 11 );
  margin: 0;
  color: var(--blackHaze);
  font-weight: normal;
}

.Box-Title--connected {
  transition: font-size .2s ease-out;
  font-size: var(--fontSizeL);
  opacity: .6;
}

.Box-Content {
  flex: 1;
}

.Box-Description {
  color: var(--silverChalice);
  margin-top: 0;
}

.Box--ReleaseList {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Box-List--releases {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: auto;
}

.Box-Footer {
  border-radius: 0 0 var(--defaultRadius) var(--defaultRadius);
  margin-top: 1px;
}

.List {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
}

.Item {
  padding: var(--smallPadding) var(--defaultPadding) var(--smallPadding) 0;
  position: relative;
}

.Item--pending {
  display: none;
}

.Item-Image {
  width: calc(6 * var(--squareSize));
  height: calc(6 * var(--squareSize));
  border-radius: 50%;
  vertical-align: top;
  margin-right: var(--smallMargin);
}

.Item-Title {
  display: inline-block;
  vertical-align: top;
  font-weight: 300;
  margin: 0;
}

.Item-Status {
  position: absolute;
  border: 1px solid var(--silverSand);
  height: calc(3 * var(--squareSize));
  width: calc(3 * var(--squareSize));
  border-radius: 50%;
  right: calc(2 * var(--squareSize) - (var(--squareSize) / 2));
  top: calc( var(--smallPadding) + var(--smallPadding)/2 );
}

.Item-Status:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(var(--spotifyRGB), 0);
  height: calc(6 * var(--squareSize));
  width: calc(6 * var(--squareSize));
  top: calc(-2 * var(--squareSize) + 1px);
  left: calc(-2 * var(--squareSize) + 1px);
  height: calc(6 * var(--squareSize));
  width: calc(6 * var(--squareSize));
  opacity: 0;
}

.Item-Status--fail {
  background: var(--cinnabar);
  border: none;
}

.Item-Status--success {
  background: var(--spotify);
  border: none;
}

.ItemCount-NOK {
  color: var(--cinnabar);
}

.ItemCount-OK {
  color: var(--spotify);
}

.Footer {
  margin-top: var(--defaultMargin);
  color: var(--blackHaze);
  opacity: .5;
  transition: opacity .25s ease-in-out;
  font-size: var(--fontSizeS);
}

.Footer:hover {
  opacity: 1;
}

.Footer a {
  color: var(--blackHaze);
}

.ProgressBar {
  appearance: none;
  height: calc(3 * var(--squareSize));

  &::-webkit-progress-value {
    border-radius: 6px;
    background-color: var(--codGray);
    opacity: .7;
  }

  &::-webkit-progress-bar {
    border-radius: 6px;
    background-color: var(--spotify);
  }
}

@media only screen  and (min-device-width: 320px)  and (max-device-width: 568px) and (orientation: portrait) {
  .App {
    padding-bottom: 0;
  }

  .Hero-Title,
  .Hero-Subtitle {
    width: 100%;
  }

  .Hero-Logo {
    margin: var(--defaultMargin) 0;
  }

  .Hero-Logo img {
    height:  calc(var(--squareSize) * 12);
  }

  .BoxesContainer {
    width: 100%;
    overflow: auto;
    height: 100vh;
    padding: 0 var(--defaultPadding);
    border-radius: var(--defaultRadius);
  }

  .Box {
    flex-direction: column;
    width: 100%;
    background: none;
    text-align: center;
    padding: 0;
  }

  .Box--connected {
    opacity: 0;
    height: 0;
  }

  .Box-Title {
    font-size: var(--fontSizeXL);
  }

  .Box-AddOn {
    display: block;
  }

  .Box-List--releases {
    text-align: left;
  }

  .Item-Title {
    width: calc(100% - var(--squareSize) * 9)
  }

  .Box--ReleaseList {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  .Box-Footer {
    background: rgba( var(--black), .8);
    text-align: left;
    padding: var(--smallPadding) var(--defaultPadding);

    .Button {
      display: block;
      margin-top: var(--smallMargin);
      width: 100%;

      + .Button {
        margin-left: 0;
      }
    }

    .Button--hidden {
      display: none;
    }
  }

  .ProgressBar {
    width: 100%;
    margin-top: var(--defaultMargin);
  }

  .Footer {
    display: none;
  }
}

@media only screen  and (min-device-width: 320px)  and (max-device-width: 374px) and (orientation: portrait) {
  .Box-Title {
    font-size: var(--fontSizeL);
  }

  .Box-Footer {
    padding: var(--smallPadding) var(--defaultPadding);

    .Button {
      margin-top: var(--smallMargin);
    }
  }

  .ProgressBar {
    margin-top: var(--smallMargin);
  }
}
